.aboutus-container {
    @media screen and (max-width : 1000px) {
        padding: 0% !important;
    }

    .aboutus-title {
        h4 {
            font-weight: 600;
        }
    }
  

    .aboutus-logo {
        width: 10rem;

        @media screen and (max-width : 1000px) {
            width: 5rem;
        }
    }

    .verify-title-container {
        margin-left: 1rem;
        padding-top: 0.8rem;
        .verify-title {
            font-size: 12px;
            text-decoration: underline;
            color: rgb(31, 154, 203);
            margin-left: 0.5rem;
            font-weight: 500;
            @media screen and (max-width : 1000px) {
                font-size: 11px;
            }
        }

        @media screen and (max-width : 1000px) {
            margin-left: 0.3rem;
            padding-top: 0.1rem; 

            svg {
                stroke: currentcolor;
                fill: gray;
                stroke-width: 0;
                height: 0.8em;
                width: 0.8em;
            }
        }

    }



    .aboutus-textarea-container {
        margin-top: 1rem;
        display: flex;

        .aboutus-textarea-edit {
            width: 50%;
            border: none;
            background-color: white;
            @media screen and (max-width : 1000px) {
                width: 75%;
            }

            p {
                border: 1px solid transparent;
                background-color: white;
            }
        }

        .aboutus-textarea {
            width: 50%;
            background-color: white;

            @media screen and (max-width : 1000px) {
                width: 75%;
            }
        }

        .edit-btn {
            width: 3rem;
            height: 2rem;
            border: none;
            background-color: white;
        }
    }
}

.tab-table {

    .nav-item {
        margin-right: 2rem;
    }

    .nav-tabs .nav-link {
        margin-bottom: -1px;
        background: 0 0;
        border: none !important;

        // border-top-left-radius: 0.25rem;
        // border-top-right-radius: 0.25rem;
    }

    .nav-tabs .nav-link.active {
        color: black;
        background-color: #fff;
        border-color: #dee2e6 #dee2e6 #fff;
        border-bottom: 2px solid red !important;
        font-weight: 600;
    }

    .nav-link {
        display: block;
        padding: 0.5rem 1rem;
        color: gray;
        text-decoration: none;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    }
}

.infotab-container {
    .tag-tab {
        border: 1px solid rgb(205, 200, 200);
        max-width: 20rem;
        min-height: 8rem;
        border-radius: 10px;
        margin-left: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding: 10px;

        @media screen and (max-width : 1000px) {
            margin-left: 2% !important;
        }

        .red-badge {
            color: rgb(156, 6, 6);
            background-color: #FFF2F2;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            transform: scale(0.9);
            font-weight: 500;
        }

        .contact-row {
            display: flex;
            justify-content: space-between;

            span {
                font-weight: 600;
            }
        }

        .email-row {
            display: flex;
            justify-content: space-between;

            span {
                font-size: 14px;
                text-align: justify;
            }

            .title-social {
                font-size: 10px;
            }

            .address {
                margin-right: 3rem;
                text-indent: 2px;
            }

            .email-span {
                // margin-right: 3rem;
                text-indent: 2px;
                // width: fit-content;
            }



        }

        .phone-row {
            display: flex;
            justify-content: space-between;

            .phone-span {
                font-size: 14px;
            }
        }
    }
}